$neutralLight: #fcfcfc;
$neutralDark: #262626;
$neutralDark--translucid: hsla(0, 0%, 15%, 0.8);
$neutralMedium-dark: #313a37;
$neutralMedium-light: #60716b;
$accentColor: #2be8ac;
$accentColor--dark: hsl(161, 80%, 35%);
$accentColor--muted-dark: hsl(161, 20%, 20%);
$accentColor--translucid: hsla(161, 60%, 20%, .8);
$warningColor: hsl(341, 80%, 54%);
