@use "./fonts" as *;
@use "./colors" as *;
@use "./mixins" as *;

h1 {
  color: $accentColor;
  font-size: 3.6rem;
  font-family: $baseFont, "Franklin Gothic Medium", "Arial Narrow", Arial,
    sans-serif;
  text-align: center;
}
p {
  @include baseFont;
}
a {
  @include baseFont;
}
